<header class="site-header">
    <div class="header-content">
        <a href="https://heathernew.com" class="logo">
            <img src="/assets/heather-new-wordmark.svg" alt="Heather New" style="height: 25px; width: auto;">
        </a>
        
        <div class="pages-nav-icon">
            <div id="nav-hamburger-icon" class="icon" role="button" tabindex="0" aria-label="Open menu">
                <svg width="40" height="40" viewBox="0 0 69 69" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.57959 15.0146V19.3045H60.0581V15.0146H8.57959ZM8.57959 32.1742V36.464H60.0581V32.1742H8.57959ZM8.57959 49.3337V53.6236H60.0581V49.3337H8.57959Z" fill="currentColor"/>
                </svg>
            </div>
        </div>

        <div class="pages-menu-overlay" id="pages-overlay">
            <div class="pages-menu-content svg-wave">
                <div class="pages-close-icon" id="pages-close-menu">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="white"/>
                    </svg>
                </div>

                <nav class="pages-main-nav">
                    <a href="/">Home</a>
                    <a href="/pages/parasite-hunter.html">AR Game</a>
                    <a href="/pages/built-different.html">The Modular Brand: MERGE</a>
                    <a href="/pages/decision-tree.html">Decision Tree</a>
                    <a href="/pages/hotspot.html">Wall of Flame</a>
                    <a href="/pages/bone-growth.html">Bone Growth</a>
                    <a href="/pages/studio-roadshow.html">Which Swatch?</a>
                </nav>
            </div>
        </div>
    </div>
</header>