.sprite-boom_00000 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -0px;
 }
 .sprite-boom_00001 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -0px;
 }
 .sprite-boom_00002 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -0px;
 }
 .sprite-boom_00003 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -0px;
 }
 .sprite-boom_00004 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -0px;
 }
 .sprite-boom_00005 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -0px;
 }
 .sprite-boom_00006 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -0px;
 }
 .sprite-boom_00007 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -0px;
 }
 .sprite-boom_00008 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -1280px;
 }
 .sprite-boom_00009 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -1280px;
 }
 .sprite-boom_00010 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -1280px;
 }
 .sprite-boom_00011 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -1280px;
 }
 .sprite-boom_00012 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -1280px;
 }
 .sprite-boom_00013 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -1280px;
 }
 .sprite-boom_00014 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -1280px;
 }
 .sprite-boom_00015 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -1280px;
 }
 .sprite-boom_00016 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -2560px;
 }
 .sprite-boom_00017 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -2560px;
 }
 .sprite-boom_00018 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -2560px;
 }
 .sprite-boom_00019 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -2560px;
 }
 .sprite-boom_00020 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -2560px;
 }
 .sprite-boom_00021 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -2560px;
 }
 .sprite-boom_00022 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -2560px;
 }
 .sprite-boom_00023 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -2560px;
 }
 .sprite-boom_00024 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -3840px;
 }
 .sprite-boom_00025 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -3840px;
 }
 .sprite-boom_00026 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -3840px;
 }
 .sprite-boom_00027 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -3840px;
 }
 .sprite-boom_00028 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -3840px;
 }
 .sprite-boom_00029 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -3840px;
 }
 .sprite-boom_00030 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -3840px;
 }
 .sprite-boom_00031 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -3840px;
 }
 .sprite-boom_00032 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -5120px;
 }
 .sprite-boom_00033 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -5120px;
 }
 .sprite-boom_00034 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -5120px;
 }
 .sprite-boom_00035 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -5120px;
 }
 .sprite-boom_00036 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -5120px;
 }
 .sprite-boom_00037 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -5120px;
 }
 .sprite-boom_00038 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -5120px;
 }
 .sprite-boom_00039 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -5120px;
 }
 .sprite-boom_00040 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -6400px;
 }
 .sprite-boom_00041 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -6400px;
 }
 .sprite-boom_00042 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -6400px;
 }
 .sprite-boom_00043 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -6400px;
 }
 .sprite-boom_00044 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -6400px;
 }
 .sprite-boom_00045 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -6400px;
 }
 .sprite-boom_00046 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -6400px;
 }
 .sprite-boom_00047 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -6400px;
 }
 .sprite-boom_00048 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -7680px;
 }
 .sprite-boom_00049 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -7680px;
 }
 .sprite-boom_00050 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -7680px;
 }
 .sprite-boom_00051 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -7680px;
 }
 .sprite-boom_00052 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -7680px;
 }
 .sprite-boom_00053 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -7680px;
 }
 .sprite-boom_00054 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -7680px;
 }
 .sprite-boom_00055 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -7680px;
 }
 .sprite-boom_00056 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -8960px;
 }
 .sprite-boom_00057 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -8960px;
 }
 .sprite-boom_00058 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -8960px;
 }
 .sprite-boom_00059 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -8960px;
 }
 