.sprite-slash_00000 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -0px;
 }
 .sprite-slash_00001 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -0px;
 }
 .sprite-slash_00002 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -0px;
 }
 .sprite-slash_00003 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -0px;
 }
 .sprite-slash_00004 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -0px;
 }
 .sprite-slash_00005 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -0px;
 }
 .sprite-slash_00006 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -0px;
 }
 .sprite-slash_00007 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -0px;
 }
 .sprite-slash_00008 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -1280px;
 }
 .sprite-slash_00009 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -1280px;
 }
 .sprite-slash_00010 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -1280px;
 }
 .sprite-slash_00011 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -1280px;
 }
 .sprite-slash_00012 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -1280px;
 }
 .sprite-slash_00013 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -1280px;
 }
 .sprite-slash_00014 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -1280px;
 }
 .sprite-slash_00015 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -1280px;
 }
 .sprite-slash_00016 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -2560px;
 }
 .sprite-slash_00017 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -2560px;
 }
 .sprite-slash_00018 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -2560px;
 }
 .sprite-slash_00019 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -2560px;
 }
 .sprite-slash_00020 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -2560px;
 }
 .sprite-slash_00021 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -2560px;
 }
 .sprite-slash_00022 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -2560px;
 }
 .sprite-slash_00023 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -2560px;
 }
 .sprite-slash_00024 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -3840px;
 }
 .sprite-slash_00025 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -3840px;
 }
 .sprite-slash_00026 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -3840px;
 }
 .sprite-slash_00027 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -3840px;
 }
 .sprite-slash_00028 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -3840px;
 }
 .sprite-slash_00029 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -3840px;
 }
 .sprite-slash_00030 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -3840px;
 }
 .sprite-slash_00031 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -3840px;
 }
 .sprite-slash_00032 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -5120px;
 }
 .sprite-slash_00033 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -5120px;
 }
 .sprite-slash_00034 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -5120px;
 }
 .sprite-slash_00035 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -5120px;
 }
 .sprite-slash_00036 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -5120px;
 }
 .sprite-slash_00037 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -5120px;
 }
 .sprite-slash_00038 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -5120px;
 }
 .sprite-slash_00039 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -5120px;
 }
 .sprite-slash_00040 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -6400px;
 }
 .sprite-slash_00041 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -6400px;
 }
 .sprite-slash_00042 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -6400px;
 }
 .sprite-slash_00043 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -6400px;
 }
 .sprite-slash_00044 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -6400px;
 }
 .sprite-slash_00045 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -6400px;
 }
 .sprite-slash_00046 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -6400px;
 }
 .sprite-slash_00047 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -6400px;
 }
 .sprite-slash_00048 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -7680px;
 }
 .sprite-slash_00049 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -7680px;
 }
 .sprite-slash_00050 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -7680px;
 }
 .sprite-slash_00051 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -7680px;
 }
 .sprite-slash_00052 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2880px -7680px;
 }
 .sprite-slash_00053 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -3600px -7680px;
 }
 .sprite-slash_00054 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -4320px -7680px;
 }
 .sprite-slash_00055 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -5040px -7680px;
 }
 .sprite-slash_00056 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -0px -8960px;
 }
 .sprite-slash_00057 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -720px -8960px;
 }
 .sprite-slash_00058 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -1440px -8960px;
 }
 .sprite-slash_00059 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1280px;
     width: 720px;
     background-position: -2160px -8960px;
 }
 