<!-- PhotoSwipe CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css">
  
<!-- Gallery Wrapper (optional - can be removed when used as partial) -->
  <div class="gallery-wrapper">
    <!-- Gallery -->
    <div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <!-- Booth 1 - Portrait -->
    <figure class="gallery-item vertical" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-1.png" itemprop="contentUrl" data-size="1068x1434">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-1.png" 
             itemprop="thumbnail" 
             alt="Flaming Fetch Margarita">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Flaming Fetch Margarita</figcaption>
    </figure>

    <!-- Booth 2 - Landscape -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-2.png" itemprop="contentUrl" data-size="1924x1432">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-2.png" 
             itemprop="thumbnail" 
             alt="Booth Crowd">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Booth Crowd</figcaption>
    </figure>

    <!-- Booth 3 - Landscape -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-3.png" itemprop="contentUrl" data-size="1912x1422">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-3.png" 
             itemprop="thumbnail" 
             alt="Fireside Chat Crowd">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Fireside Chat Crowd</figcaption>
    </figure>

    <!-- Booth 4 - Landscape -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-4.png" itemprop="contentUrl" data-size="1940x1446">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-4.png" 
             itemprop="thumbnail" 
             alt="Wall of Flame">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Wall of Flame</figcaption>
    </figure>

    <!-- Booth 5 - Landscape -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-5.png" itemprop="contentUrl" data-size="1614x1362">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-5.png" 
             itemprop="thumbnail" 
             alt="Empty booth">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Empty booth</figcaption>
    </figure>

    <!-- Booth 6 - Landscape -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-6.png" itemprop="contentUrl" data-size="1912x1390">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-6.png" 
             itemprop="thumbnail" 
             alt="Cool down OA with Galliprant">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Cool down OA with Galliprant</figcaption>
    </figure>

    <!-- Booth 7 - Landscape -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-7.png" itemprop="contentUrl" data-size="1268x1020">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-7.png" 
             itemprop="thumbnail" 
             alt="Toby! Quiz Elanco Parvo Survivor Wall">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Toby! Quiz Elanco Parvo Survivor Wall</figcaption>
    </figure>

    <!-- Booth 8 - Portrait -->
    <figure class="gallery-item vertical" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-8.png" itemprop="contentUrl" data-size="1084x1432">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-8.png" 
             itemprop="thumbnail" 
             alt="Galliprant Quiz Fire Wall">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Galliprant Quiz Fire Wall</figcaption>
    </figure>

    <!-- Booth 9 - Landscape -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-9.png" itemprop="contentUrl" data-size="1406x860">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-9.png" 
             itemprop="thumbnail" 
             alt="Harmless fire delights! Adriana and Jess">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Harmless fire delights! Adriana and Jess</figcaption>
    </figure>

    <!-- Booth 10 (JPG) - Landscape -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-10.jpg" itemprop="contentUrl" data-size="1600x1200">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-10.jpg" 
             itemprop="thumbnail" 
             alt="LED floors, lights, fire, animations, interactions!">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">LED floors, lights, fire, animations, interactions!</figcaption>
    </figure>

    <!-- Booth 11 - Landscape -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-11.png" itemprop="contentUrl" data-size="1890x1398">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-11.png" 
             itemprop="thumbnail" 
             alt="Galliprant Quiz and Lightbox back board">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Galliprant Quiz and Lightbox back board</figcaption>
    </figure>

    <!-- Booth 12 (JPG) - Horizontal -->
    <figure class="gallery-item horizontal" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://heathernew.com/assets/hotspot/galliprant-booth-12.jpg" itemprop="contentUrl" data-size="1285x1714">
        <img  
             
             src="https://heathernew.com/assets/hotspot/galliprant-booth-12.jpg" 
             itemprop="thumbnail" 
             alt="Quiz player in Booth">
      </a>
      <figcaption class="gallery-caption" itemprop="caption description">Quiz player in Booth</figcaption>
    </figure>
  </div>
  </div><!-- end gallery-wrapper -->

  <!-- PhotoSwipe markup -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.2/lazysizes.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.js"></script>

  <script>
    // Initialize PhotoSwipe
    function initPhotoSwipe(gallerySelector) {
      const galleries = document.querySelectorAll(gallerySelector);
      
      galleries.forEach((gallery, galleryIndex) => {
        // Add unique ID to gallery
        gallery.setAttribute('data-pswp-uid', galleryIndex + 1);
        
        // Click handler
        gallery.addEventListener('click', (e) => {
          e.preventDefault();
          
          // Find the clicked figure element
          let target = e.target;
          let clickedFigure = null;
          
          // Traverse up to find the figure element
          while (target && target !== gallery) {
            if (target.tagName === 'FIGURE') {
              clickedFigure = target;
              break;
            }
            target = target.parentNode;
          }
          
          if (!clickedFigure) return;
          
          // Find index of clicked item
          const figures = Array.from(gallery.querySelectorAll('figure'));
          const index = figures.indexOf(clickedFigure);
          
          if (index >= 0) {
            openPhotoSwipe(index, gallery);
          }
        });
      });
      
      // Check URL hash on load
      const hashData = parseHash();
      if (hashData.pid && hashData.gid) {
        openPhotoSwipe(hashData.pid - 1, galleries[hashData.gid - 1], true, true);
      }
    }
    
    function openPhotoSwipe(index, galleryElement, disableAnimation, fromURL) {
      const pswpElement = document.querySelector('.pswp');
      const items = parseGalleryItems(galleryElement);
      
      const options = {
        index: index,
        galleryUID: galleryElement.getAttribute('data-pswp-uid'),
        
        getThumbBoundsFn: (index) => {
          const thumbnail = items[index].el.querySelector('img');
          const pageYScroll = window.pageYOffset || document.documentElement.scrollTop;
          const rect = thumbnail.getBoundingClientRect();
          
          return {
            x: rect.left,
            y: rect.top + pageYScroll,
            w: rect.width
          };
        }
      };
      
      if (disableAnimation) {
        options.showAnimationDuration = 0;
      }
      
      // Initialize PhotoSwipe
      const gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
      gallery.init();
    }
    
    function parseGalleryItems(galleryElement) {
      const figures = galleryElement.querySelectorAll('figure');
      const items = [];
      
      figures.forEach((figure) => {
        const link = figure.querySelector('a');
        const size = link.getAttribute('data-size').split('x');
        const caption = figure.querySelector('figcaption');
        
        const item = {
          src: link.getAttribute('href'),
          w: parseInt(size[0], 10),
          h: parseInt(size[1], 10),
          el: figure
        };
        
        if (caption && caption.textContent.trim() !== 'Caption') {
          item.title = caption.innerHTML;
        }
        
        const img = link.querySelector('img');
        if (img) {
          item.msrc = img.getAttribute('data-src') || img.getAttribute('src');
        }
        
        items.push(item);
      });
      
      return items;
    }
    
    function parseHash() {
      const hash = window.location.hash.substring(1);
      const params = {};
      
      if (hash.length < 5) return params;
      
      const vars = hash.split('&');
      vars.forEach((varStr) => {
        if (!varStr) return;
        const pair = varStr.split('=');
        if (pair.length < 2) return;
        params[pair[0]] = pair[1];
      });
      
      if (params.gid) {
        params.gid = parseInt(params.gid, 10);
      }
      if (params.pid) {
        params.pid = parseInt(params.pid, 10);
      }
      
      return params;
    }
    
    // Initialize on DOM ready
    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', () => {
        initPhotoSwipe('.gallery');
      });
    } else {
      initPhotoSwipe('.gallery');
    }
  </script>