<div class="header-content">
    <a href="/" class="logo">
        <img src="/assets/heather-new-wordmark.svg" alt="Heather New" style="height: 25px; width: auto;" width="150" height="25">
    </a>

    <div class="pages-nav-icon">
        <div id="nav-hamburger-icon" class="icon-top" role="button" tabindex="0" aria-label="Open menu">
            <svg width="40" height="40" viewBox="0 0 69 69" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.57959 15.0146V19.3045H60.0581V15.0146H8.57959ZM8.57959 32.1742V36.464H60.0581V32.1742H8.57959ZM8.57959 49.3337V53.6236H60.0581V49.3337H8.57959Z" fill="currentColor"/>
            </svg>
        </div>
    </div>
</div>

<div class="pages-menu-overlay" id="pages-overlay">
    <div class="pages-menu-content">
        <div class="pages-close-icon" id="pages-close-menu">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="white"/>
            </svg>
        </div>

        <nav class="pages-main-nav">
            <a href="/" class="home-link-nav">Home</a>
            <a href="/pages/about.html">About Heather</a>
            <a href="/pages/contact.html">Contact</a>
            <a href="/pages/parasite-hunter.html">Parasite Hunter AR Game</a>
            <a href="/pages/built-different.html">The Modular Brand: MERGE</a>
            <a href="/pages/decision-tree.html">Interactive Zen Garden</a>
            <a href="/pages/hotspot.html">Wall of Flame Interactive</a>
            <!--<a href="/pages/bone-growth.html">Bone Growth Learning</a>
            <a href="/pages/studio-roadshow.html">Which Swatch? Game</a>-->
        </nav>
    </div>
</div>

<svg width="0" height="0" style="position: absolute;">
    <defs>
        <clipPath id="menu-wave" clipPathUnits="userSpaceOnUse">
            <path d="M263.191 1624.52C282.062 1719.5 691.741 1898.5 712 1679.5L712 -0.000275263L84.9913 -0.000247856C45.6135 31.4784 15.3691 129.521 26.9727 184.416C45.4043 271.613 132.649 368.832 188.596 470.365C244.542 571.898 178.235 708.656 132.649 791.54C87.0634 874.423 -2.03661 961.451 0.0354895 1087.85C2.10759 1214.25 80.8471 1251.54 178.235 1315.78C275.624 1380.01 289.153 1396.07 295.369 1466.52C300.342 1522.88 244.32 1529.55 263.191 1624.52Z"/>
        </clipPath>
    </defs>
</svg>