.sprite-moxi_00000 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -0px -0px;
 }
 .sprite-moxi_00001 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -1080px -0px;
 }
 .sprite-moxi_00002 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -2160px -0px;
 }
 .sprite-moxi_00003 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -3240px -0px;
 }
 .sprite-moxi_00004 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -4320px -0px;
 }
 .sprite-moxi_00005 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -5400px -0px;
 }
 .sprite-moxi_00006 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -0px -1920px;
 }
 .sprite-moxi_00007 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -1080px -1920px;
 }
 .sprite-moxi_00008 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -2160px -1920px;
 }
 .sprite-moxi_00009 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -3240px -1920px;
 }
 .sprite-moxi_00010 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -4320px -1920px;
 }
 .sprite-moxi_00011 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -5400px -1920px;
 }
 .sprite-moxi_00012 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -0px -3840px;
 }
 .sprite-moxi_00013 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -1080px -3840px;
 }
 .sprite-moxi_00014 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -2160px -3840px;
 }
 .sprite-moxi_00015 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -3240px -3840px;
 }
 .sprite-moxi_00016 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -4320px -3840px;
 }
 .sprite-moxi_00017 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -5400px -3840px;
 }
 .sprite-moxi_00018 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -0px -5760px;
 }
 .sprite-moxi_00019 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -1080px -5760px;
 }
 .sprite-moxi_00020 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -2160px -5760px;
 }
 .sprite-moxi_00021 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -3240px -5760px;
 }
 .sprite-moxi_00022 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -4320px -5760px;
 }
 .sprite-moxi_00023 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -5400px -5760px;
 }
 .sprite-moxi_00024 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -0px -7680px;
 }
 .sprite-moxi_00025 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -1080px -7680px;
 }
 