.sprite-prya_00000 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -0px -0px;
 }
 .sprite-prya_00001 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -1080px -0px;
 }
 .sprite-prya_00002 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -2160px -0px;
 }
 .sprite-prya_00003 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -3240px -0px;
 }
 .sprite-prya_00004 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -0px -1920px;
 }
 .sprite-prya_00005 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -1080px -1920px;
 }
 .sprite-prya_00006 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -2160px -1920px;
 }
 .sprite-prya_00007 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -3240px -1920px;
 }
 .sprite-prya_00008 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -0px -3840px;
 }
 .sprite-prya_00009 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -1080px -3840px;
 }
 .sprite-prya_00010 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -2160px -3840px;
 }
 .sprite-prya_00011 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -3240px -3840px;
 }
 .sprite-prya_00012 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1920px;
     width: 1080px;
     background-position: -0px -5760px;
 }
 